@page "/cashier_console"
<h3>Consola de Venta</h3>
<br />
<div class="row">
    <div class="column">
        <SelectProductForSellingComponent></SelectProductForSellingComponent>
    </div>
    <div class="column">
        PlaceHolder
    </div>
</div>

@code {

}
