@page "/categories"

@inject NavigationManager navigationManager
@inject UseCases.IViewCategoriesUseCase viewCategoryUseCase

<h3>CRUD Categorias</h3>
@if (categories != null)
{
    <table class="table">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><button type="button" @onclick="@(() => EditCategory(category))" class="btn btn-link">Edit</button></td>
                </tr>
            }

        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddCategory" class="btn btn-primary">Agregar categoria</button>


@code {
    private IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        categories = viewCategoryUseCase.Execute();
    }

    private void OnClickAddCategory()
    {
        navigationManager.NavigateTo("/addcategory");
    }

    private void EditCategory(Category category)
    {
        navigationManager.NavigateTo($"/editCategory/{category.CategoryId}");
    }
}